---
- hosts: ipaclient
  become: true
  become_method: sudo

  vars:
    compose_env:
      COMPOSE_FILE: "deployments/backend-compose.yaml"
      # force local image
      CONTAINER_IMAGE_BASE: "hmsidm-backend"

  tasks:
    - name: Provision idm-domains-backend
      when: meta_role == 'backend'
      block:
        - include_vars:
            file: "{{ playbook_dir }}/../config/hmsidm-config.yaml"
            name: hmsidm_config

        - name: Enable code ready builder CRB for EPEL
          shell: yum config-manager --set-enabled "*CRB*"
          args:
              warn: no

        - name: Enable EPEL for podman-compose
          yum:
              name: https://dl.fedoraproject.org/pub/epel/epel-release-latest-{{ ansible_distribution_major_version }}.noarch.rpm
              disable_gpg_check: yes
              state: present

        - name: Gather the rpm package facts
          package_facts:
            manager: auto

        - name: Install build dependencies
          yum:
            name:
              - git
              - golang
              - make
              - podman
              - podman-compose
            state: latest

        - name: Git checkout idm-domains-backend
          ansible.builtin.git:
            repo: "{{ hmsidm_config.backend_git_repo }}"
            version: "{{ hmsidm_config.backend_git_branch }}"
            dest: /idm-domains-backend

        - name: Copy configs/config.example.yaml to configs/config.yaml
          ansible.builtin.copy:
            src: /idm-domains-backend/configs/config.example.yaml
            dest: /idm-domains-backend/configs/config.yaml
            remote_src: yes

        # compose-up fails because it cannot pull mockserver from Docker Hub
        # docker.io/mockserver/mockserver: toomanyrequests: You have reached your pull rate limit.
        - name: Log into Docker Hub
          command: >
            podman login
              -u {{ hmsidm_config.docker_username }}
              -p {{ hmsidm_config.docker_password }}
              docker.io
          when:
            - hmsidm_config.docker_username
            - hmsidm_config.docker_password

        - name: Build local tools
          command: make install-xrhidgen install-db-tool
          args:
            chdir: /idm-domains-backend

        - name: Pull external images (podman-compose pull)
          command: timeout 180 make compose-pull
          args:
            chdir: /idm-domains-backend
          environment: "{{ compose_env }}"

        - name: Build local images (podman-compose build)
          command: make compose-build
          args:
            chdir: /idm-domains-backend
          environment: "{{ compose_env }}"

        - name: Start compose (podman-compose up)
          command: timeout 180 make compose-up
          args:
            chdir: /idm-domains-backend
          environment: "{{ compose_env }}"

        - name: Create domain
          command: scripts/get-ipa-hcc-register.py --compose localhost:8000
          args:
            chdir: /idm-domains-backend
          register: ipahccregister

        - name: Print ipa-hcc register command
          debug:
            msg="{{ ipahccregister.stdout }}"
