__pycache__
*.pyc
*.pyo
*.tar.gz
*.rpm
~*
/.coverage*
/build
/dist
/*.egg-info
/*.dist-info

.tox

/refresh_token
/ipa-hcc.spec

/contrib/ci-image/requirements.txt
/contrib/ci-image/ipa-hcc.spec
/contrib/1minutetip/artifacts/

# idm-ci te
/idm-ci/secrets
/config/
/credentials/
/logs/
/mrack.conf
/mrack.log
/runner.log
/host-info.txt
