[Unit]
Description=IPA Hybrid Cloud Console D-Bus service
After=syslog.target network.target httpd.service

[Service]
# D-Bus service is started and stopped by ipactl
# Type=dbus
# BusName=com.redhat.console.ipahcc
Type=notify
Environment=LC_ALL=C.UTF-8
PrivateTmp=yes
ExecStart=/usr/libexec/ipa-hcc/ipa-hcc-dbus

[Install]
WantedBy=multi-user.target
