# . idm-ci/secrets

export RHC_ENV="ephemeral"
export RHC_ORG="12345"
export RHC_KEY="not-used"
export RH_API_TOKEN="not-used"
# oc get routes -l app=hmsidm-backend -o jsonpath='{.items[0].spec.host}'
export HMSIDM_BACKEND=
# oc get secrets/env-$(oc project -q)-keycloak -o jsonpath='{.data.defaultUsername}' | base64 -d
export DEV_USERNAME=jdoe
# oc get secrets/env-$(oc project -q)-keycloak -o jsonpath='{.data.defaultPassword}' | base64 -d
export DEV_PASSWORD=
