# source idm-ci/secrets

export RHC_ENV="compose"
export RHC_ORG="12345"
export RHC_KEY="not-used"
export RH_API_TOKEN="not-used"

export HMSIDM_BACKEND="backend.hmsidm-dev.test"

export DEV_USERNAME=compose
export DEV_PASSWORD=compose

# Scope: Public Repo Read-only
# https://hub.docker.com/settings/security
export DOCKER_USERNAME=""
export DOCKER_PASSWORD=""

# export BACKEND_GIT_REPO="https://gitlab.cee.redhat.com/USER/idm-domains-backend.git"
# export BACKEND_GIT_BRANCH="BRANCH"
