# source idm-ci/secrets

export RHC_ENV="stage"
export RHC_ORG=""
export RHC_KEY=""
export RH_API_TOKEN=""

# Docker access token for for hmsidm-domains-backend.yaml
# Scope: Public Repo Read-only
# https://hub.docker.com/settings/security
export DOCKER_USERNAME=""
export DOCKER_PASSWORD=""
