[Unit]
Description=IPA Hybrid Cloud Console client auto-enrollment service
Documentation=man:ipa-client-install(1)

# run if IPA config does not exist and RHSM certs exist
ConditionPathExists=!/etc/ipa/default.conf
ConditionPathExists=/etc/pki/consumer/cert.pem
ConditionPathExists=/etc/pki/consumer/key.pem

# use RHC daemon as trigger point
After=rhcd.service
Requisite=rhcd.service

[Service]
Type=oneshot
RemainAfterExit=no
EnvironmentFile=-/etc/sysconfig/ipa-hcc-auto-enrollment
ExecStart=/usr/libexec/ipa-hcc/ipa-hcc-auto-enrollment $AUTO_ENROLLMENT_ARGS

[Install]
WantedBy=rhcd.service
